# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# CSV or extracted datasets
schemes.csv

# VSCode settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Virtual environments (if added later)
env/
venv/
.venv/
streamlit_venv/

# Environment variables or API keys (if added later)
.env
*.env
config.json

/node_modules